<div id="contact-list" ng-controller="ContactController as vm">

  <h2><%= __('CONTACT-LIST.HEADING') %></h2>
  <p id='no-contacts' ng-hide="vm.data.contacts.length > 0"><%= __('CONTACT-LIST.NONE') %></p>
  <table id='contacts' ng-hide="vm.data.contacts.length === 0">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2"><%= __('CONTACT-LIST.OPERATIONS') %></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="contact in vm.data.contacts">
        <td>{{ contact.name }}</td>
        <td><button ng-click="vm.setState('edit', contact)"><%= __('COMMON.EDIT') %></button></td>
        <td><button ng-click="vm.setState('delete', contact)"><%= __('COMMON.DELETE') %></button></td>
      </tr>
    </tbody>
  </table>

  <p id='create-contact' ng-show="vm.state === 'init'"><a href="#" ng-click="vm.setState('create')"><%=__('CONTACT-LIST.CREATE-LINK')%></a></p>

  <fieldset id='edit-form' ng-show="vm.state === 'create' || vm.state === 'edit'">
    <legend>{{ vm.state === 'create' ? '<%= __('COMMON.CREATE') %>' : '<%= __('COMMON.EDIT') %>'}} <%=__('CONTACT-LIST.TITLE')%></legend>
    <label for="name"><%= __('CONTACT-LIST.NAME') %></label>
    <input ng-model="vm.data.contact.name" type="text" name="name" id="name" />
    <button ng-show="vm.state === 'create'" ng-click="vm.create()"><%= __('COMMON.CREATE')%></button>
    <button ng-show="vm.state === 'edit'" ng-click="vm.edit()"><%= __('COMMON.EDIT') %></button>
    <button ng-click="vm.setState('init')"><%= __('COMMON.CANCEL') %></button>
  </fieldset>

  <fieldset id='delete-form' ng-show="vm.state === 'delete'">
    <legend><%= __('CONTACT-LIST.DELETE.HEADER')%></legend>
    <p><%= __('CONTACT-LIST.DELETE.CONFIRM')  %></p>
    <button ng-click="vm.delete()"><%=__('COMMON.YES')%></button>
    <button ng-click="vm.setState('init')"><%=__('COMMON.NO')%></button>
  </fieldset>

</div>
