<nav class="navbar navbar-default">
<ul class="nav navbar-nav">
  <%- createLink('HOME') %>
  <% if (typeof user !== 'undefined') {%>
    <%- createLink('CONTACT-LIST') %>
    <%- createLink('AUTH.LOGOUT') %>
  <%} else {%>
    <%- createLink('AUTH.LOGIN') %>
    <%- createLink('AUTH.REGISTER') %>
  <% } %>
</ul>
</nav>
